## Pandas Multi-Index and Index Hierarchy

In [3]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [7]:
outside = ["G1","G1","G1","G2","G2","G2"]
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [9]:
#Multi-Index DataFrame
hier_index = pd.MultiIndex.from_tuples(hier_index)
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])
df

             A         B
G1 1  0.114241 -0.754621
   2  1.192803 -0.676664
   3 -0.184600 -0.896218
G2 1 -1.392646  1.193011
   2  1.249347 -0.374692
   3  1.563367 -0.374341

In [10]:
df.loc['G1'].loc[2] #Multi-Index Indexing

A    1.192803
B   -0.676664
Name: 2, dtype: float64

In [11]:
df.index.names

FrozenList([None, None])

In [12]:
df.index.names = ['Groups','Num']

In [13]:
df

                   A         B
Groups Num
G1     1    0.114241 -0.754621
       2    1.192803 -0.676664
       3   -0.184600 -0.896218
G2     1   -1.392646  1.193011
       2    1.249347 -0.374692
       3    1.563367 -0.374341

In [14]:
df.loc['G2'].loc[2]['B']

-0.3746920515345315

## Cross-Section xs Function - It returns a Cross-section(rows or columns) from the Series or DataFrame

In [16]:
df.xs('G1') #Grab the value from the outer Index 'G1'

            A         B
Num
1    0.114241 -0.754621
2    1.192803 -0.676664
3   -0.184600 -0.896218

In [17]:
df.xs(1,level='Num') # Grab the values from the inner index 1 across Groups where index='Num'

               A         B
Groups
G1      0.114241 -0.754621
G2     -1.392646  1.193011